@(users : Seq[String])(implicit request: RequestHeader)
@main() {


    <div class="user-display" >
        <fieldset>
            <legend align="center"><h3>Registered Users</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>username</th>
                </tr>
                @for(user <- users){
                    <tr>
                        <td>@user</td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>

}